*{
    background-color:#0B0C10;
    color:white;
    
}

h1{
    color:#66FCF1;
    text-align: center;

}
.box{
    display:flex;
    padding-left: 600px;
    align-items: center;
    justify-items:center;   
}
.pad{
    padding-right: 20px;
}
