
*{
    background-color:#0B0C10;
    color:white;
}
.navigation{
    display:flex;
    justify-items:right;
    justify-content: space-evenly;
    color:white;
}
.pro{
    display:flex;
}
.about{
    padding-left:200px;
}
h1{
    color:#66FCF1;
}
button{
    background-color:#0B0C10;
    border:2px solid #66FCF1;
    
}
.skill{
    padding-left:200px;
}
form{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
}